<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_building %>
    <%= form.text_field :name_building %>
  </div>

  <div class="field">
    <%= form.label :identification_number_building %>
    <%= form.text_field :identification_number_building %>
  </div>

  <div class="field">
    <%= form.label :location_building %>
    <%= form.text_field :location_building %>
  </div>

  <div class="field">
    <%= form.label :total_offices %>
    <%= form.number_field :total_offices %>
  </div>

  <div class="field">
    <%= form.label :duty_manager_id %>
    <%= form.text_field :duty_manager_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
